<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	{{#list}}
	<div>
		<span>{{employeeId}}</span>
		<span>{{lastName}}</span>
		
	</div>
	{{/list}}
</body>
</html>