
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>EmpList</title>
<style>
.odd{
	background-color:coral;
	}
.trbold { font-weight: bold;}	
</style>
</head>
<body>
<section layout:fragment="content">
<!-- /*<th:block th:each="emp : ${list}">
      <span th:text="${emp.firstName}"></span>
      <span th:text="${emp.lastName}"></span><br>
   </th:block>*/ -->
<div>전체건수 : [[${#lists.size(list)}]]</div>
<div th:text="${#lists.size(list)}"></div>
<table class="table">
 <tr>
 <th>No.</th>
 <th>employee_id</th>
 <th>name</th>
 <th>hire_date</th>
 <th>salary</th>
 <th>grade</th>
 </tr>
 <th:block th:each="emp:${list}">
<tr th:class="${empStat.odd }? 'odd'" th:classappend="${empStat.first}? 'trbold'">
 <td th:text="${empStat.count}"></td>
 <td><a th:href="@{info.do(employeeId=${emp.employeeId}, name=${emp.firstName})}" th:text="${emp.employeeId}"></a></td>
 <td th:text="|${emp.firstName},${emp.lastName}|"></td>
 <td th:text="${#dates.format(emp.hireDate, 'yyyy년MMMdd일')}"></td>
 <td th:text="${emp.salary}"></td>
 <td th:if="${emp.salary}>10000" th:text="A"></td>
 <td th:unless="${emp.salary}>10000" th:text="B"></td>
 </tr>
 </th:block>
</table>
<div th:text="'<b> text test</b>'"></div>
<div th:utext="'<b> utext test</b>'"></div>
<div> [[${list[0].firstName}]]</div>
<div> [(${list[0].firstName})]</div>
	
	<div class="divfooter" th:replace="~{footer::copy}"></div>
<script th:inline="javascript">
	let emps = [[${list}]]
</script>
</section>
</body>
</html>
